<html> 
  <head> 
    <title>Drone Control Center </title> 
    <script src="/static/jquery-3.4.1.min.js"></script>
  </head> 
  <body> 
    <h1> Live Video Streaming </h1> 
    <img src="{{ url_for('video_feed') }}"> 

    <button id="take_off">Take Off</button>
    <button id="land">Land</button>
    <button id="toggle_override">Toggle Override</button>
    <button id="toggle_enroll">Toggle Enroll</button>

    <div id="faces"></div>

    <script>
      var override = false
      var enroll = false
      var v_directional = 50
      var v_yaw_pitch = 100

      $(document).ready(function() {
        loadFaces()

        $('#take_off').click(function(e){
          sendCommand({
            command: 'take_off'
          })
        })

        $('#land').click(function(e){
          sendCommand({
            command: 'land'
          })
        })

        $('#toggle_override').click(function(e){
          override = !override
          sendCommand({
            autonomous: !override
          })
        })

        $('#toggle_enroll').click(function(e){
          enroll = !enroll
          sendCommand({
            enroll_mode: !enroll
          })
        })

        $(document).keypress(function(event) {
          if (override) {
              var payload = {}

              if (event.keyCode === 119) { // w
                payload['for_back_velocity'] = v_directional
              } else if (event.keyCode ===  115) { // s
                payload['for_back_velocity'] = -v_directional
              }

              if (event.keyCode === 100) { // d
                payload['left_right_velocity'] = v_directional
              } else if (event.keyCode ===  97) { // a
                payload['left_right_velocity'] = -v_directional
              }

              if (event.keyCode === 113) { // q
                payload['yaw_velocity'] = -v_yaw_pitch
              } else if (event.keyCode ===  101) { // e
                payload['yaw_velocity'] = v_yaw_pitch
              }

              if (event.keyCode === 114) { // r
                payload['up_down_velocity'] = v_directional
              } else if (event.keyCode ===  102) { // f
                payload['up_down_velocity'] = -v_directional
              }
              
              console.log(payload)
              sendCommand(payload)
          }
        })

        $(document).keyup(function(event) {
          if (override) {
            var payload = {
              'for_back_velocity': 0,
              'left_right_velocity': 0,
              'yaw_velocity': 0,
              'up_down_velocity': 0
            }

            console.log(payload)
            sendCommand(payload)
          }
        })
      })

      function sendCommand(data) {
        $.ajax({
          type: "POST",
          url: "/drone_command",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(result) {
            console.log("ACK")
          }
        })
      }

      function loadFaces() {
        $.ajax({
          type: "GET",
          url: "/known_faces",
          success: function(result) {
            filenames = result.filenames

            filenames.forEach(filename => {
              $("#faces").append('<img src="/faces/'  + filename + '"/>')
            })
          }
        })
      }
    </script>
  </body> 
</html> 